{% extends 'mailing/base.html' %}

{% block content %}
    <div class="col-12">
<form method="post" enctype="multipart/form-data" class="row">
    <div class="col-6">
        <div class="card-header">
            <div class="card-title">
                <h2>Добавить пользователя</h2>
            </div>
            <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать пользователя
                        {% endif %}
                    </button>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</form>
</div>
{% endblock %}