<div class="col-12 card mb-5 text-center" style="max-width: 300px">
<div class="row">
    <div class="col-md-8">
            <div class="card-header">
            <h5 class="card-title">{{ object.theme }}</h5>
            <p class="card-text"><strong>Периодичность:</strong> {{ object.period }}</p>
            <p class="card-text"><strong>Статус:</strong> {{ object.status }}</p>
            <p class="card-text"><strong>Время рассылки:</strong> {{ object.time }}</p>
            </div>
             <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Клиенты:</h6>
            <ul class="list-unstyled">
                {% for customer in object.customer.all %}
                    <li>{{ customer.name }} - {{ customer.email }}</li>
                {% endfor %}
            </ul>
            <h6 class="card-subtitle mb-2 text-muted">Сообщение:</h6>
            <p class="card-text">{{ object.mailing_text }}</p>
        </div>
    <div class="card-footer">
        <div class="btn-group">
            <a href="{% url 'mailing:mailing_detail' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
            <a href="{% url 'mailing:mailing_update' object.pk%}" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
            <a href="{% url 'mailing:mailing_delete' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
        </div>
    </div>
    </div>
</div>
</div>